.topbox {
  color: rgb(34, 169, 223);
  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right {
      display: flex;
      align-items: center;

      .icon {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }

      button {
        background-color: rgb(34, 169, 223);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }
}
