.hellobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  width: 100%;

  .textBox {
    flex: 1;
    color: #6c65e0;
    font-weight: normal;

    .span {
      text-decoration: none;
      color: inherit;
    }
  }
  .imgBox {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    img {
      height: 100%;
      width: 35%;
      object-fit: cover;
    }
  }
}
